<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="styles.css">
    <title>Youssef's Mint</title>
</head>
<body>
    <div id="main">
    <div id="header">
<header>
    <p>Already have an account</p><button>Sign up</button>
</header>
</div>
 <%= image_tag 'intuit.png'%>
<div id="container">
<form  action="#" method="post">
    <fieldset>
       
        <label>
            <h3>One Account.</h3>
            <h3> Everything Intuit.</h3>
            <h4> Create an account for all of Intuit's products including Mint <a href="https://accounts-help.lc.intuit.com/questions/1582580-creating-an-account">learn more</a></h4>
        </label>
        
    </fieldset>
<fieldset class="link">
    
</fieldset>
<fieldset class="account-info">
    <label>
    <br>Email Address</br>
 <input type="email" name="email-address" required>
</label>
<label>
    <br>Phone (recommended)</br>
<input type="tel" name="Phone" required>
</label>
<label>
    <br>Password</br>
<input type="password" name="Password" required minlength="8"></br>
</label>
<label>
    <br>Confirm Password</br>
<input type="Password" name="Password" required minlength="8‡"></br>
</label>
</fieldset>
  
<fieldset class="account-action">
  <label>
<button>Create an Account</button>
    </label>  
 </fieldset>
 
 <fieldset class="link">
<label>        
 <p> By clicking Create Account, you agree to our
<a href="https://www.mint.com/terms">licence agrement</a> and <a href="https://www.mint.com/terms">privacy</a></p>
</label>
 </fieldset>
    
    
    </form>
<div id="footer">
<footer>
    <p>
    <a href="https://www.intuit.com/"><img src"intuit.jpeg" border=0 width=15 height=30 alt="intuit"></a> 
    <p>
        <ul>
            <li>legal</li>
            <li>privacy</li>
            <li>security</li>
        </ul>
    </p>
    <p>© 2017 Intuit, Inc. All rights reserved. Intuit, QuickBooks, QB, TurboTax, ProConnect and Mint are registered trademarks of Intuit Inc.
Terms and conditions, features, support, pricing, and service options subject to change without notice.
</p>
    </footer>
</div>
</div>
</body>
</html>